scikit-learn==1.6.1
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.4.2
joblib==1.4.2
requests==2.32.3
beautifulsoup4==4.12.3
lxml==5.2.2
validators==0.28.1
python-whois==0.9.4
tldextract==5.1.2
python-Levenshtein==0.25.1
